page-login {
    .background {
      width: 100%;
      height: 100%;
    //  background: #FC664E  ;
    // background: linear-gradient(360deg, #4E5EFC  ,#4EE7FC);
    }
    .scroll-content {
      /*align-content: center;
      display: flex;
      flex-direction: column;
      justify-content: center;*/
      text-align: center;
      background: url(https://cdn.cjr.org/wp-content/themes/cjr2017/images-body/Audience.gif);
      
    }
    ion-card.card {
      box-shadow: none;
      background: rgba(232, 230, 230, 0.6px);
      border-radius: 10px;
      z-index: 100;
      
    }
    .item {
      background: rgba(232, 230, 230, 0px);
      border: medium none;
    }
    ion-input {
      border-bottom: #FD4D73 solid 1px;
    }
    h1{
      font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
      font-size: 3em;
      font-weight: lighter;
      color: #222;
    }
  }