<!--
  Generated template for the BookdetailPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>

  <ion-navbar>
    <ion-title>bookdetail</ion-title>
  </ion-navbar>

</ion-header>


<ion-content padding>
  Name: {{book.name}} <br>
  Author: {{book.author}} <br>
  Description: {{book.description}}
  <!-- Description: {{book._id}} -->
  <button *ngIf='book.availableunits > 0' ion-button (click)='issue(book._id)'>Issue</button>
  <button *ngIf='book.availableunits == 0' ion-button disabled (click)='issue(book._id)'>Issue</button>
</ion-content>
