page-home{
  .scroll-content{
    // padding-top: 60%;
    // background: url(http://www.hellers.org/publish/books.gif);
    // background-size: cover;
    
  }
  .button-md{
      height: 7rem;

  }
}
