<!--
  Generated template for the ProfilePage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>

  <ion-navbar>
    <ion-title>profile</ion-title>
  </ion-navbar>

</ion-header>


<ion-content padding>
    <ion-content has-header="true">
        <div id="profile-bg"></div>
        <div id="content">
          <div id="profile-info">
            <img id="profile-image" src="http://s21644.pcdn.co/wp-content/uploads/2014/08/Profile-1.jpg">
            <h3 id="profile-name">{{user.name}}</h3>
            <span id="profile-description">Co-creator of <a href="http://facebook.com/{{user.name}}">@ionicframework</a>, founder of
              <a href="http://twitter.com/driftyco">@driftyco</a></span>
              <ion-row>
                <ion-col text-center>Name</ion-col>
              </ion-row>
              <ion-row>
                <ion-col text-center>Name</ion-col>
              </ion-row>
              <ion-row>
                <ion-col text-center>Name</ion-col>
              </ion-row>
              <ion-row>
                <ion-col text-center>Name</ion-col>
              </ion-row>
          </div>
        </div>
      </ion-content>

</ion-content>
